body {
  background-color: #A2F2D5;

  min-width: 100vh;
  min-height: 100vh;

  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.center{
  justify-content: center;
  align-items: center;
}
.Login {
  width: 400px;  /* Or whatever */
  margin: auto;
  padding: 20px;  

  flex-direction: column;

  background-color: #FFF;
  padding: 20px;
}

.LoginTitle {
  font-size: 2em;
}

.Login div {
  justify-content: center;
  align-items: center;
}